.skills__conteudo {
    color: var(--fonte);
    font-family: var(--fonte);
    font-weight: 700;
    font-size: 0.65rem;
    position: absolute;
    padding-left: 0.65rem;
    padding-top: 6.7rem;
}

