.footer {
    background-color: var(--bege);
    color: var(--cor-fonte);
    display: flex;
    flex-direction: column;
    font-size: 0.85rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

