.sobreMim__avatar {
    background-image: url(/assets/img/sobreMim/avatar.png);
    background-position: right;
    background-size: 31%;
    background-repeat: no-repeat;
}

@media screen and (min-width: 375px){
    .sobreMim__avatar {
        background-image: none;
    }
}

@media screen and (min-width: 768px){
    .sobreMim__avatar {
        background-image: none;
    }
}