
@media screen and (min-width: 375px) {
    .principal__titulo {
        font-size: 1rem;
        font-weight: 700;
        padding-top: 7rem;
    }
} 

@media screen and (min-width: 768px) {
    .principal__titulo {
        font-size: 1.5rem;
        font-weight: 700;
        padding-top: 1rem;
    }
} 

@media screen and (min-width: 1024px) {
    .principal__titulo {
        color: var(--cor-fonte);
        font-weight: 700;
        font-size: 2.5rem;
        padding-top: 4rem;
        padding-bottom: 2rem;
    }
}