.principal__itens {
    /* padding-right: 2.5rem;
    padding-bottom: 4rem;
    padding-top: 1.5rem; */
    transition: ease-in-out;
    font-size: 0.82rem;

}

.principal__itens:hover {
    text-decoration: underline;
    color: #2d4a31;
}




@media screen and (min-width: 375px) {
    .principal__itens {
        padding: 1.5rem 2rem 4rem 0rem;
    }
    .principal__itens:nth-child(1):hover {
        background-image: url(/assets/img/principal/iconmonstr-github-1.svg);
        background-repeat: no-repeat;
        background-position: right 13% bottom 76%;
    }

    .principal__itens:nth-child(2):hover {
        background-image: url(/assets/img/principal/icons8-linkedin-circled.svg);
        background-repeat: no-repeat;
        background-position: right 4% bottom 76%;
    }

    .principal__itens:nth-child(3):hover {
        background-image: url(/assets/img/principal/icons8-instagram.svg);
        background-repeat: no-repeat;
        background-position: right 2% bottom 76%;
    }

    .principal__itens:nth-child(4):hover {
        background-image: url(/assets/img/principal/curriculum-vitae-svgrepo-com.svg);
        background-repeat: no-repeat;
        background-position: right 14% bottom 74%;
        background-size: 22%;
    }
}

@media screen and (min-width: 768px) {
    .principal__itens {
        padding: 0rem 2rem 1rem 0rem;
    }

    .principal__itens:nth-child(1):hover {
        background-image: url(/assets/img/principal/iconmonstr-github-1.svg);
        background-repeat: no-repeat;
        background-position: right 13% bottom 80%;
    }

    .principal__itens:nth-child(2):hover {
        background-image: url(/assets/img/principal/icons8-linkedin-circled.svg);
        background-repeat: no-repeat;
        background-position: right 4% bottom 80%;
    }

    .principal__itens:nth-child(3):hover {
        background-image: url(/assets/img/principal/icons8-instagram.svg);
        background-repeat: no-repeat;
        background-position: right 2% bottom 80%;
    }

    .principal__itens:nth-child(4):hover {
        background-image: url(/assets/img/principal/curriculum-vitae-svgrepo-com.svg);
        background-repeat: no-repeat;
        background-position: right 14% bottom 74%;
        background-size: 22%;
    }
}

@media screen and (min-width: 1024px) {

    .principal__itens {
        padding: 1.5rem 2rem 4rem 0rem;
    }

    .principal__itens:nth-child(1):hover {
        background-image: url(/assets/img/principal/iconmonstr-github-1.svg);
        background-repeat: no-repeat;
        background-position: right 15% bottom 78%;
    }

    .principal__itens:nth-child(2):hover {
        background-image: url(/assets/img/principal/icons8-linkedin-circled.svg);
        background-repeat: no-repeat;
        background-position: right 6% bottom 78%;
    }

    .principal__itens:nth-child(3):hover {
        background-image: url(/assets/img/principal/icons8-instagram.svg);
        background-repeat: no-repeat;
        background-position: right 4% bottom 78%;
    }

    .principal__itens:nth-child(4):hover {
        background-image: url(/assets/img/principal/curriculum-vitae-svgrepo-com.svg);
        background-repeat: no-repeat;
        background-position: right 15% bottom 75%;
        background-size: 22%;
    }

}