.fade {
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5;
}

.modal {
    display: none;
    left: 25%;
    position: fixed;
    top: 10%;
    z-index: 5;
}

.modal__close {
    background: url(/assets/img/modal/icons8-close-window-64.svg) no-repeat;
    background-size: 100%;
    border: none;
    cursor: pointer;
    display: none;
    height: 10%;
    margin: -.4rem 52rem;
    position: absolute;
    width: 7%;
}

/* .hide {
    display: none;
} */

@media screen and (min-width: 375px) {
    .modal__iframe {
        height: 29rem;
        width: 22rem;
    }

    .modal__close {
        margin: -2rem 20.5rem;
    }
    
    .modal {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (min-width: 768px) {
    .modal__iframe {
        height: 30rem;
        width: 37rem;
    }

    .modal__close {
        margin: 0rem 38rem;
    }
    
    .modal {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (min-width: 1024px) {
    .modal__iframe {
        height: 30rem;
        width: 50rem;
    }

    .modal {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .modal__close {
        margin: 0rem 52rem;
    }
}